
.header{
  grid-area: h;
  background-color: #008cba;

}

.header img {
  width: 60px;
}

.loginBlock {
  float: right;
  padding-top: 1rem;
  padding-right: 1rem;
}
.loginBlock a {
  color: white;
}

